<head>
    <!-- title -->
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{site.title}}
      {% endif %}
    </title>
    {% if site.noindex %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" /> -->
    <meta name="author" content="{{ site.company_name }}">
    {% include open_graph_tags.html %}
    <!-- description -->
    <meta name="description" content="{{ site.description }}">
    <!-- keywords -->
    <meta name="keywords" content="{{ site.keywords }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/external/p5/p5.js"></script>
    <!-- <script src="/js/p5/addons/p5.sound.js"></script> -->
    <script src="/js/logic/coords.js"></script>
    <script src="/js/components/tableVisualiser.js"></script>
    <script src="/js/sketch.js"></script>
</head>
